  <%@user.user_posts.each_with_index do |post, i| %>
  <div class='posts'>
    <p><%= link_to post.title, user_post_path(@user, post) %></p>
    <p><%= post.text%></p>
    <p class='num_of_posts'>Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></p>
  </div>
  <% end %>