<article class='user'>
  <img src=<%= user.photo %>  alt="<%= user.name %> photo" class='photo'>
  <div class='user-name'>
    <h2><%= link_to user.name, user_path(user) %></h2>
    <p class='num_of_posts'>Number of posts: <%= user.posts_counter%></p>
  </div>
</article>