@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");

a {
  text-decoration: none;
  color: green;
}

.photo {
  height: 100px;
  object-fit: cover;
}

.user,
.bio,
.posts,
.btns,
.see-posts,
.login-links,
form {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
  width: 500px;
}

.num_of_posts {
  align-self: flex-end;
  flex-wrap: nowrap;
}

.user-name {
  height: 80px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bio,
.posts,
.login-links,
form {
  flex-direction: column;
}

.post,
.remember-me {
  display: flex;
}

.btns {
  justify-content: space-between;
  align-items: center;
}

.see-posts {
  width: 200px;
  justify-content: center;
}

form {
  gap: 1rem;
}

form input {
  width: 100%;
  padding: 0.4rem;
}

.remember-me input {
  width: auto;
  margin-right: 0.6rem;
}

.btns form {
  width: auto;
}

.post-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.post-header button {
  padding: 0 2rem;
}

.comment-action {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.comment-action button {
  align-items: center;
}

.posts .btns button {
  width: 200px;
  justify-content: center;
  padding: 0.7rem;
  color: green;
}
